<!DOCTYPE html>
<html lang="en">
  <%- include("header") -%>
  <body class="bg-yellow-100 flex flex-col items-center">
    <h1 class="font-semibold text-3xl mt-6">MY TODO LIST</h1>
    <div
      class="flex flex-col items-center w-8/12 h-full mt-6 space-5 bg-white rounded-lg drop-shadow-lg"
    >
      <h1
        class="bg-blue-700 h-12 text-white rounded-lg w-full py-2 text-center mb-2 text-lg font-semibold text-gray-900 dark:text-white"
      >
        <%= date %>
      </h1>
      <ul
        class="text-left space-y-1 list-none list-inside text-gray-500 dark:text-black w-full ml-24"
      >
        <% for (let i=0; i < newListItems.length; i++){ %>
        <div class="flex flex-row">
          <input type="checkbox" class="mr-2 check" />
          <p class="font-semibold item"><%= newListItems[i] %></p>
        </div>
        <% } %>
      </ul>
      <form action="/" method="post" class="mb-6 w-10/12 flex flex-row">
        <input
          type="text"
          value=""
          name="newItem"
          class="text-center block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
          autocomplete="off"
          placeholder="new item"
        />
        <button
          type="submit"
          name="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          Add
        </button>
      </form>
    </div>
  </body>
  <%- include("footer") -%>
</html>
